.history-scroll {
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 8px;
}

.history-scroll table {
  width: 100%;
}
/* ========== SEARCH BOX ========== */
.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.search-box input {
  flex: 1;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
}

.search-box input:focus {
  border-color: #3498db;
  box-shadow: 0 0 4px rgba(52, 152, 219, 0.4);
}

.search-box button {
  padding: 10px 16px;
  border: none;
  background-color: #3498db;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease;
}

.search-box button:hover {
  background-color: #217dbb;
}

/* ===== FILTER BUTTON IN TABLE HEADER ===== */
.th-btn {
  width: 100%;
  height: 100%;

  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;

  padding: 8px 0;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.2s ease;
}

.th-btn:hover {
  background: rgba(255, 255, 255, 0.15);
}


